body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.sideSize {
  width: 30vw;
}

.bgTweeter {
  background: #1d9bf0;
  color: white;
}

.iconSidebar {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.login-style {
  display: flex;
  justify-content: center;
}

#sidebar-container {
  width: 450px;
}
.content-container {
  width: 100%;
}
#right-container {
  width: 650px;
}

.profileImage {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

.profileImageHero {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 50%;
  margin-left: 15px;
  position: absolute;
  bottom: -50px;
  border: solid white 5px;
}

#newTweet {
  all: unset;
}

#tweet-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.background-color-login {
  background-color: rgb(46, 46, 121);
}

.useravatar-fol {
  max-width: 50px;
}

.celeste {
  border-bottom: 3px solid #1d9bf0;
}

@media (max-width: 1000px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-md {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .display-sm {
    display: flex !important;
    justify-content: space-evenly !important;
  }
}

.hidden {
  display: none;
}

.container-heart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-heart {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.container-heart input:checked ~ .checkmark path {
  fill: #ff5353;
  stroke-width: 0;
}

.container-heart input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.container-heart:hover {
  transform: scale(1.03);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
